.site-body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}
.list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-list {
  margin-left: 93px;
}
.span-logo {
  color: #2196f3;
}
/*
.header-nav-item {
}*/
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.current {
  color: #2196f3;
}
.header-contact-list {
  display: flex;
}
/*.header-contact-item {
}*/
.header-contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  padding: 10px 32px;
  background-color: #2196f3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.features {
  margin-top: 94px;
  margin-bottom: 94px;
}
/* hidden .benefits {}*/
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.different {
  padding-bottom: 94px;
}
.different-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*
.different-item {
}*/
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03pm;
  color: #212121;
  margin-bottom: 50px;
}

.team-img {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-profession {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-worker-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo {
  color: #2196f3;
}
.footer-contact {
  font-style: normal;
  margin-top: 20px;
}
.footer-contact-list {
  display: inline;
}
.footer-contact-gps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}
.footer-contact-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*portfol*/

.section-portfolio {
  margin-top: 94px;
}
.portfolio-main-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* .container-list {
 

} */
.card-list {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
/*.img {
}*/
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}
.portfolio-paragrapf {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}
.container-portfolio {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
